<%- include('includes/header.ejs')%>
    </head>

    <body>
        <%- include('includes/navigation.ejs')%>

            <h1>
                Welcome <%= name%>
            </h1>


            <%- include('includes/footer.ejs')%>